<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head"></head>

<body>
<div id="wrapper">
    <!--메뉴-->
    <nav class="navbar-default navbar-static-side" role="navigation" th:replace="fragments/common :: menu('','')"></nav>

    <div id="page-wrapper" class="gray-bg">
        <!--프로필-->
        <div class="row border-bottom" th:replace="fragments/common :: profile"></nav></div>

        <!--Content-->
        <div class="wrapper wrapper-content animated fadeInRight"><!--fadeInRight-->
            <div class="row"><!--row-->
                <div class="col-lg-12">
                    <div style="padding-top:50px;"  class="col">
                        <div class="container text-center">
                            <h1><span th:text="${username}" class="alert alert-danger" />님은 접근 권한이 없습니다.</h1>
                            <br />
                            <h3 th:text="${exception}"></h3>
                        </div>
                    </div>
                </div>
            </div><!--row-->
        </div><!--fadeInRight-->

        <div class="footer" th:replace="fragments/common :: footer"></div>
    </div><!--page-wrapper-->
</div><!--wrapper-->
</body>
</html>
